<h2>Poverty</h2>

<div>
	<ignore-plugins patcher-id="PovertyPatcher"></ignore-plugins>
	<br>
	<h4>Processing:</h4>
    <input type="checkbox" id="processREFR" ng-model="settings.PovertyPatcher.processREFR" />
    <label for="processREFR">Process references of items</label>
	<br>
	<input type="checkbox" id="processCONT" ng-model="settings.PovertyPatcher.processCONT" />
    <label for="processCONT">Process items in containers</label>
	<br>
	<input type="checkbox" id="processFLORandTREE" ng-model="settings.PovertyPatcher.processFLORandTREE" />
    <label for="processFLORandTREE">Process harvestable flora and fauna</label>
	<br>
	<input type="checkbox" id="processLVLI" ng-model="settings.PovertyPatcher.processLVLI" />
    <label for="processLVLI">Process leveled lists</label>
	<br>
	<input type="checkbox" id="processNPC_" ng-model="settings.PovertyPatcher.processNPC_" />
    <label for="processNPC_">Process NPCs</label>
	<br>
	<h4>Custom patches:</h4>
	<label for="customPatch">Add the full name of your custom conflict resolution patch which must be last in your load order. Bashed/Smashed Patch are automatically supported.</label>
    <input type="text" id="customPatch" placeholder="Example.esp" ng-model="settings.PovertyPatcher.customPatch" />
	<br>
	<h4>Logging:</h4>
	<input type="checkbox" id="logCheckbox" ng-model="settings.PovertyPatcher.logCurrent" />
    <label for="logCheckbox">Log which record is currently processed</label>
	<br>
</div>
