<h2>Poverty</h2>

<div>
	<ignore-plugins patcher-id="PovertyPatcher"></ignore-plugins>
	<br>
	<h4>Processing:</h4>
    <input type="checkbox" ng-model="settings.PovertyPatcher.processREFR" />
    <span>Process references of items</span>
	<br>
	<input type="checkbox" ng-model="settings.PovertyPatcher.processCONT" />
    <span>Process items in containers</span>
	<br>
	<input type="checkbox" ng-model="settings.PovertyPatcher.processFLORandTREE" />
    <span>Process harvestable flora and fauna</span>
	<br>
	<input type="checkbox" ng-model="settings.PovertyPatcher.processLVLI" />
    <span>Process leveled lists</span>
	<br>
	<input type="checkbox" ng-model="settings.PovertyPatcher.processNPC_" />
    <span>Process NPCs</span>
	<br>
	<h4>Logging:</h4>
	<input type="checkbox" ng-model="settings.PovertyPatcher.logCurrent" />
    <span>Log which record is currenently processed</span>
	<br>
</div>
